<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <fa-icon
      class="p-2"
      [ngStyle]="{ color: isThemeDark ? 'yellow' : 'black' }"
      [icon]="faBulb"
      role="button"
      (click)="toggleTheme()"
    ></fa-icon>
    <a class="navbar-brand" href="#">Book store</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex justify-content-between w-100">
        <div class="d-flex">
          <a class="nav-link" aria-current="page" routerLink="/">Home</a>
          @if (auth.isAuthed()) {
            <a class="nav-link" routerLink="quotes">Quotes</a>
          }
          @if (!auth.isAuthed()) {
            <fa-icon class="nav-link" role="button" [icon]="infoBtn" (click)="showHint()">
            </fa-icon>
          }
        </div>
        <span class="d-flex">
          @if (!auth.isAuthed()) {
            <fa-icon
              class="nav-link text-primary"
              role="button"
              [icon]="userLogo"
              routerLink="login"
              [class]="hintClass"
            ></fa-icon>
          } @else {
            <span class="nav-link">Välkommen, {{ auth.me()?.username }}</span>
            <fa-icon
              class="nav-link"
              role="button"
              (click)="auth.logout()"
              [icon]="logoutLogo"
            ></fa-icon>
          }
        </span>
      </div>
    </div>
  </div>
</nav>
@if (hintClass != '') {
  <section class="position-fixed top-0 end-0 mt-5 me-4 alert alert-warning" [class]="hintClass">
    Logga in för att se citat och redigera böcker.
  </section>
}
<main class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
