<span>Böcker lista:</span>
<ul [class]="listClassName">
  <!-- Interpolation example -->
  @for (book of books; track $index) {
    <li>
      <strong>{{ book.title }}</strong> by {{ book.author }}
      <fa-icon [icon]="faPenToSquare" class="btn" (click)="toggleBookEditModal($index)"></fa-icon>
      <fa-icon [icon]="faTrash" class="btn" (click)="removeBook($index)"></fa-icon>
    </li>
  }
</ul>
@if (isBookModalOpen) {
  <div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Lägg till ny bok</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="toggleBookModal()"
          ></button>
        </div>
        <div class="modal-body">
          <div>
            <input type="text" [(ngModel)]="newBookTitle" placeholder="Boktitel" />
          </div>
          <div>
            <input type="text" [(ngModel)]="newBookAuthor" placeholder="Författare" />
          </div>
        </div>
        <div class="modal-footer">
          <span (click)="toggleBookModal()">Stäng</span>
          <button class="btn btn-success" (click)="addNewBook()">Lägg till</button>
        </div>
      </div>
    </div>
  </div>
} @else if (!isBookEditModalOpen) {
  <button class="btn btn-success" (click)="toggleBookModal()">Lägg till ny bok</button>
}

@if (isBookEditModalOpen) {
  <div class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Redigera bok</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="toggleBookEditModal(null)"
          ></button>
        </div>
        <div class="modal-body">
          <div>
            <input type="text" [(ngModel)]="newBookTitle" placeholder="Boktitel" />
          </div>
          <div>
            <input type="text" [(ngModel)]="newBookAuthor" placeholder="Författare" />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="toggleBookEditModal(null)"
          >
            Stäng
          </button>
          @if (newBookTitle && newBookAuthor) {
            <button class="btn btn-primary" (click)="editBook(newBookTitle, newBookAuthor)">
              Spara ändringar
            </button>
          }
        </div>
      </div>
    </div>
  </div>
}

{{ errorMessage }}
