<blockquote class="blockquote">
  <p>{{ currentDate | date: 'longDate' }}</p>
</blockquote>
<span>Böcker lista:</span>
<ul [class]="listClassName">
  @for (book of books; track book.id ?? $index) {
    @if (book) {
      <li>
        <strong>{{ book.title | titlecase }}</strong> by {{ book.author | titlecase }}
        @if (auth.isAuthed()) {
          <fa-icon
            [icon]="faPenToSquare"
            class="btn"
            role="button"
            tabindex="0"
            aria-label="Redigera bok"
            (click)="toggleBookEditModal(book.id)"
            (keydown.enter)="toggleBookEditModal(book.id)"
            (keyup.space)="toggleBookEditModal(book.id)"
          ></fa-icon>
          <fa-icon
            [icon]="faTrash"
            class="btn"
            role="button"
            tabindex="0"
            aria-label="Ta bort bok"
            (click)="removeBook(book.id)"
            (keydown.enter)="removeBook(book.id)"
            (keyup.space)="removeBook(book.id)"
          ></fa-icon>
        }
      </li>
    }
  }
</ul>
@if (isBookModalOpen) {
  <div
    class="modal fade show d-block"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    role="dialog"
    aria-modal="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Lägg till ny bok</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="toggleBookModal()"
          ></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Boktitel</span>
            <input type="text" class="form-control" [(ngModel)]="newBookTitle" />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Författare</span>
            <input type="text" class="form-control" [(ngModel)]="newBookAuthor" />
          </div>
        </div>
        <div class="modal-footer">
          @if (newBookTitle && newBookAuthor) {
            <button class="btn btn-success" (click)="addNewBook()">Lägg till</button>
          } @else {
            <button
              class="btn btn-success"
              (click)="errorMessageService.showErrorMessage('Fyll i både titel och författare.')"
            >
              Lägg till
            </button>
          }
        </div>
        <span class="row justify-content-center text-danger">{{
          errorMessageService.errorMessage
        }}</span>
      </div>
    </div>
  </div>
} @else if (!isBookEditModalOpen) {
  @if (auth.isAuthed()) {
    <button class="btn btn-success" (click)="toggleBookModal()">Lägg till ny bok</button>
  }
}
@if (!isBookModalOpen && !isBookEditModalOpen) {
  <span class="row justify-content-center text-danger">{{ errorMessageService.errorMessage }}</span>
}

@if (isBookEditModalOpen) {
  <div
    class="modal fade show d-block"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Redigera bok</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="toggleBookEditModal(null)"
          ></button>
        </div>
        <div class="modal-body">
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Boktitel</span>
            <input type="text" class="form-control" [(ngModel)]="newBookTitle" />
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Författare</span>
            <input type="text" class="form-control" [(ngModel)]="newBookAuthor" />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="toggleBookEditModal(null)"
          >
            Stäng
          </button>
          @if (newBookTitle && newBookAuthor) {
            <button class="btn btn-primary" (click)="editBook()">Spara ändringar</button>
          } @else {
            <button
              class="btn btn-primary"
              (click)="errorMessageService.showErrorMessage('Fyll i både titel och författare.')"
            >
              Spara ändringar
            </button>
          }
        </div>
        <div>
          <span class="row justify-content-center text-danger">{{
            errorMessageService.errorMessage
          }}</span>
        </div>
      </div>
    </div>
  </div>
}
